<h1 class="display-4 text-center">Student List</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-6" *ngFor="let item of studentList">
                    <app-student-items (studentEmitter)="onSetStudent($event)" [student]="item"></app-student-items>
                </div>
            </div>
        </div>
        <div class="col-5 mt-5">
            <h3>Seclected Student</h3>
            <!-- optional chaining -->
            <p>Name: {{ selectedStudent?.name }}</p>
            <p>Age: {{ selectedStudent?.age }}</p>
        </div>
    </div>
</div>